# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local log and debug files
debug_input.json
